# Backups
*~

# Object files
*.o
*.ko
*.obj
*.elf
obj/

# Precompiled Headers
*.gch
*.pch
relocation_table
*_header.asm
*_equates.asm

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.hex
*.8xv

# Debug files
*.dSYM/
*.map
