# Backups
*~

# Object files
*.o
*.ko
*.obj
*.elf
obj/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.hex

# Debug files
*.dSYM/
*.map
