# backups and ide stuff
*~
.idea/


# generated documentation
doxygen/

# Object files
*.o
*.ko
*.obj
*.elf
obj/
release/
cmake-build-debug/

# precompiled headers
*.gch
*.pch
relocation_table
*_header.asm
*_equates.asm

# libraries
*.lib
*.a
*.la
*.lo

# shared objects
*.so
*.so.*
*.dylib

# macos
.DS_Store

# executables
*.hex
*.8xv
*.8xp
!*var_gfx.8xv

# debug files
*.dSYM/
*.map

# log files
*.log

# fasmg files
src/include/ez80.inc
src/include/ld.fasmg
src/include/ti84pceg.inc
src/include/tiformat.inc

# generated src
src/*/*/*.src
