[submodule "tools/fasmg/fasmg-ez80"]
	path = tools/fasmg/fasmg-ez80
	url = https://github.com/jacobly0/fasmg-ez80.git
[submodule "tools/convfont"]
	path = tools/convfont
	url = https://github.com/drdnar/convfont.git
[submodule "tools/convbin"]
	path = tools/convbin
	url = https://github.com/mateoconlechuga/convbin.git
	ignore = dirty
[submodule "tools/convimg"]
	path = tools/convimg
	url = https://github.com/mateoconlechuga/convimg.git
	ignore = dirty
[submodule "examples/standalone_examples/template"]
	path = examples/standalone_examples/template
	url = https://github.com/CE-Programming/template.git
[submodule "examples/library_examples/graphx/graphx-template"]
	path = examples/library_examples/graphx/template
	url = https://github.com/CE-Programming/graphx-template
[submodule "src/EASTL"]
	path = src/ea/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "src/EABase"]
	path = src/ea/EABase
	url = https://github.com/electronicarts/EABase.git
