[submodule "tools/fasmg/fasmg-ez80"]
	path = tools/fasmg/fasmg-ez80
	url = https://github.com/jacobly0/fasmg-ez80.git
[submodule "tools/convfont"]
	path = tools/convfont
	url = https://github.com/drdnar/convfont.git
[submodule "tools/convbin"]
	path = tools/convbin
	url = https://github.com/mateoconlechuga/convbin.git
[submodule "tools/convimg"]
	path = tools/convimg
	url = https://github.com/mateoconlechuga/convimg.git
	ignore = dirty
